.todo {
    width: 100%;
}

.todo__header{
    display: block;
    border: 1px solid red;
    padding: 16px;
}

@media (max-width: 425px) {
    .todo__header {
        font-size: small;
    }
}
@media (min-width: 768px) {
    .todo {
        margin: 20px;
    }
}